<header>
    <h1>Header</h1>
    <nav>
        <ul>
            <li>Strona główna</li>
            <li>O nas</li>
            <li>Kontakt</li>
            <li>Rejestracja</li>
        </ul>
    </nav>
</header>